
/* Configuraciones generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(28, 23, 38);
   
}

.menu-nav{
    display: flex;
    align-items: center;
    background-color: #251F32;
    width:100vw;
    justify-content: center;
}
.search-container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
header .menu-nav .logo-nav{
    height: 3.5rem;
    width: 16vw;
  
    max-width: 116.35px;
    max-height: 56px;
}
header .menu-nav .search-container .search-nav{
    width: 65vw;
    border: none;
    background-color: #2E273F;
    height: 2.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    padding-left: 12px;
    
}
header .menu-nav .search-container .search-nav::placeholder{
    color:rgb(140,125,175)
}
header .menu-nav .search-container .lupa-nav{
    display: block;
    position: absolute;
    
}

header .menu-nav .hambursize{
    margin-top: -13px;
    margin-bottom: 10px;
}
/* Configuracion del menú desplegable, estilo y animación */
header .drop-down-menu{
    background-color: #251F32;
    height: 19rem;
    display: grid;
    
}
header .hidden{
    display: none;
}
header .show{
    display: grid;
    animation:drop-down 0.5s ease-in;
}

@keyframes drop-down{
0%{ margin-top:-100%;opacity: 0;}
50%{margin-top: -50%;opacity: 0;}
90%{opacity: 0.5;}
100%{margin-top:0;opacity: 1; }
}

header .drop-down-menu nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.2rem;
    padding: 1.6rem 0 0 1.5rem;
}
header .drop-down-menu nav ul .a-drop{
text-decoration: none;
width: 100%;
height: 1.5rem;
}
header .drop-down-menu nav ul .a-drop .li-drop{
list-style-type: none;
color:white;
font-weight: bolder;
font-size: 0.9rem;
border-bottom: 1px solid rgb(46, 39, 63);
line-height: 1.5rem;
}
header .drop-down-menu nav .get-started{
    background-color: #BDFF00;
    border: none;
    margin: 1rem 0 0 1.8rem ;
    width: 8rem;
    height: 2.4rem;
    border-bottom: 1px solid rgb(46, 39, 63);
    line-height: 1.5rem;
    font-weight: bolder;
    color: #251F32;
}
header .drop-down-menu nav .get-started:hover{
    background-color: #82B000;
}

/* Configuraciones para el responsive */
@media (min-width:900px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    header .menu-nav{
        justify-content: space-between;
        padding-left: 60px;
        height: 4.1rem;
    }
    header .menu-nav .hambursize{
        display: none;
    }
    header .menu-nav .search-container{
        position: absolute;
        margin-left: 25rem;
    }
    header .menu-nav .search-container .search-nav{
        width: 23vw;
        height: 2.3rem;
    }
    header .menu-nav .search-container .search-nav, header .menu-nav .search-container .lupa-nav{
        padding:0 1rem;
    }
    
    header .hidden{
        display: flex;
        float: inline-start;
    }
    header .drop-down-menu{
        flex-direction: row;
        height: auto;
        margin-top: -4.5rem;
        margin-left: 10.2rem;
        
    }
    header .drop-down-menu nav ul{
        flex-direction: row;
        gap: 1rem;
    }
    header .drop-down-menu nav ul .a-drop .li-drop{
        border: none;
    }
    header .drop-down-menu nav ul .a-drop{
        height: 2.9rem;
    }
    header .drop-down-menu nav ul .a-drop:hover{
        animation: hover-nav 0.2s;
        transform: translate(0, -6px);
    }
    @keyframes hover-nav{
        0%{transform: translate(0px);}
        100%{transform: translate(0, -6px);}
    }
    header .drop-down-menu nav ul #a-deploy:hover{
    animation: none;
    transform: none;
    }
    header .drop-down-menu nav .get-started{
        position: absolute;
        margin-top: -3.2rem;
        margin-left: 58vw;
    }
}